#order-results, #error{
  display: none;
}

body{
  background-image: url("img/cheesepizza.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
